# AWS EC2 key-pair
teamnova.pem

# Logs
log
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/
.vscode

# dotenv environment variables file
env
.env
.env.test
/env

# build
# dist # npm run build 오래 걸리는 문제 해결을 위해 dist까지 pull 받는 테스트
package-lock.json